@media only screen and (max-width: 1700px) {

	/*-- Share --*/

	.section-slider .carousel-slider-discount .owl-prev {
	    left: 0;
	}

	.section-slider .carousel-slider-discount .owl-next {
	    right: 0;
	}

	/*-- /Share --*/

}

@media only screen and (max-width: 1600px) {

	.favor {
		display: none;
	}

	/*-- Share --*/

	.thumb_1 {
	    width: 33.33%;
	}

	/*-- /Share --*/


	/*-- Mortgage --*/

	.mortgages-header div.h5 {
	    font-size: 19px;
	}

	/*-- /Mortgage --*/

	/*-- Flat Card --*/

	.popup {
	    padding: 59px 20px 27px 20px;
	}

	.flate-card {
		max-width: 96%;
	}

	.popup .close-popup {
	    right: 0;
	}

	.card-col-1 {
	    width: 41%;
	    padding: 0 1% 0 0;
	}

	.card-col-2 {
	    width: 59%;
	    padding: 0 0 0 3%;
	}

	/*-- /Flat Card --*/


	/*-- Share New --*/

	.sharethumb_2 .h_wrapp .h3 {
	    font-size: 49px;
	    line-height: 55px;
	}
	
	/*-- /Share New --*/

}

@media only screen and (max-width: 1280px) {

	/*-- Mortgage --*/

	.two-cols-templ .two-col-1 {
	    padding-right: 10px;
	}

	.two-cols-templ .two-col-2 {
	    padding-left: 10px;
	}

	.thumbnails_2 .thumb_2 {
	    width: 33.33%;
	}

	/*-- /Mortgage --*/

	/*-- Slider --*/

	.carousel-slider-discount.slider_2 .owl-prev {
	    left: -15px !important;
	}

	.carousel-slider-discount.slider_2 .owl-next {
	    right: -15px !important;
	}

	/*-- /lider --*/

	/*-- Documents --*/

	.thumbnails_3 {
	    margin: 29px -7px;
	}

	.thumbnails_3 .thumb_3 {
		width: 33.33%;
	    padding: 0 10px;
	}

	/*-- /Documents --*/

	/*-- Object Secondary --*/

	.tpl_3-col {
		width: 100%;
	}

	.tpl_3-col:nth-child(odd) {
		float: none;
		padding-right: 0;
	}

	.tpl_3-col:nth-child(even) {
		float: none;
		padding-left: 0;
	}

	/*-- /Object Secondary --*/

	/*-- Developer --*/

	.thumb-5 {
	    width: 50%;
	}

	.thumbnails-6 {
	    margin: 44px -10px 23px -10px;
	}

	.thumbnails-6 .thumb-6 {
		width: 33.33%;
	}

	/*-- /Developer --*/

	/*-- Share New --*/

	.sharesthumb_2 {
	    margin: 0 -1% 79px -1%;
	}

	.sharethumb_2 {
		width: 48%;
		margin: 10px 1%;
	}
	
	/*-- /Share New --*/

	/*-- Popup Shares --*/

	.shares_popup .close_popup {
	    right: -6px;
	}

	/*-- /Popup Shares --*/

}

@media only screen and (max-width: 1060px) {


	/*-- Filter 2 --*/

	.filter_wrapp_2 .left {
	    width: 50%;
	}

	.filter_wrapp_2 .right {
	    width: 100%;
	    float: left;
	}

	/*-- /Filter 2 --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Mortgage --*/

	.two-cols-templ .two-col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.two-cols-templ .two-col-2 {
	    width: 100%;
	    padding-top: 20px;
	    padding-left: 0;
	}

	/*-- /Mortgage --*/

	/*-- Как доехать --*/

	.route-descript {
	    padding: 19px 0 0 0;
	}

	.search-route .search-col-1 {
	    width: 100%;
	    padding-right: 0;
	    text-align: center;
	}

	.search-route .search-col-2 {
	    padding: 5px 5px 5px 0;
	    width: calc(100% - 240px);
	}

	.search-route .search-col-3 {
	    padding-left: 10px;
	}

	/*-- /Как доехать --*/

	/*-- Open News --*/

	.two-cols-templ_2 .two-col-1 {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}

	.two-cols-templ_2 .two-col-2 {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	}

	.news-photo {
	    margin: 40px 0 0 0;
	}

	/*-- /Open News --*/

}


@media only screen and (max-width: 960px) {

	/*-- Share --*/

	.thumbnails_1 {
		margin: 31px -10px 45px -10px;
	}

	.thumb_1 {
	    width: 50%;
	}

	/*-- /Share --*/

	/*-- Documents --*/

	.thumbnails_3 {
	    margin: 29px -7px;
	}

	.thumbnails_3 .thumb_3 {
		width: 50%;
	    padding: 0 10px;
	}

	/*-- /Documents --*/

	/*-- Flat Card --*/

	.popup {
	    padding: 30px 20px 10px 20px;
	}

	.card-col-1 {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.card-col-2 {
	    width: 100%;
	    float: none;
	    padding: 16px 0 0 0;
	}

	/*-- /Flat Card --*/

}

@media only screen and (max-width: 960px) {

	/*-- Share New --*/

	.sharethumb_2 .h_wrapp .h3 {
	    font-size: 43px;
	    line-height: 51px;
	}
	
	/*-- /Share New --*/

}

@media only screen and (max-width: 767px) {

	/*-- Share --*/

	.section-slider .carousel-caption-content-discount {
	    height: auto;
	    top: 0;
	    transform: translate(0, 0);
	    -webkit-transform: translate(0, 0);
	}

	/*-- /Share --*/

	/*-- Mortgage --*/

	.from-block .col-4 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding-bottom: 10px;
	}

	.mortgages-header .cell {
		width: 33.33%;
	}

	.mortgages-header .cell-3 {
	    display: none;
	}

	.bank-header .cell {
		width: 33.33%;
	}

	.bank-header .cell-3 {
	    display: none;
	}

	.bank-inner-table .cell {
	    width: 33.33%;
	}

	.bank-inner-table .cell-3 {
	    display: none;
	}

	.bank-inner-table p {
	    font-size: 16px;
	    line-height: 18px;
	}

	.two-cols-inner .col {
	    width: 100%;
	}

	.two-cols-inner .col:nth-child(odd) {
	    padding-right: 0;
	}

	.two-cols-inner .col:nth-child(even) {
	    padding-left: 0;
	}

	/*-- /Mortgage --*/

	/*-- Дневник стройки --*/

	.object-diary-form .form-group-col-2 {
		display: block;
	    max-width: 320px;
	    flex: none;
	    margin: 0 auto;
	    padding: 5px 0;
	}

	.nav-thumb {
	    margin: 10px;
	}

	.section-slider .slider_2 .carousel-item {
	    height: 440px;
	}

	.slider_2.carousel-slider-discount .owl-dots {
		position: relative;
		text-align: center;
	    margin-bottom: 20px;
	    bottom: 0;
	}

	/*-- /Дневник стройки --*/

	.testimonials_tab {
		padding-bottom: 9px;
	}

	/*-- Open News --*/

	.news-article-txt div.h3 {
	    margin-bottom: 0;
	}

	.inner-two-cols .inner-col {
		padding-bottom: 10px;
	}

	.inner-two-cols .inner-col:nth-child(odd) {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}

	.inner-two-cols .inner-col:nth-child(even) {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	    text-align: left;
	}

	.news-article-txt {
	    padding: 0 0 20px 0;
	}

	/*-- /Open News --*/

	/*-- Flat Card --*/

	.card-col-2 .img-box {
	    height: 480px;
	}

	.flate-card .card-col-2 .compas {
	    top: 26px;
	    right: 0;
	}

	.flate-card .card-col-2 .plus-btn {
	    right: 0;
	}

	/*-- /Flat Card --*/

	/*-- Object Secondary --*/

	.two-cols_templ_3 {
	    margin: 10px 0;
	}

	.info_wrapp .info-box {
		width: 100%;
	}

	.info-box {
		margin-top: 38px;
		margin-bottom: 0;
	}

	.info_wrapp .info-box:nth-child(odd) {
		float: none;
	}

	.info_wrapp .info-box:nth-child(even) {
		float: none;
	}

	.thumbnails_4 .thumb_3 {
	    width: 50%;
	}

	.submit-block {
	    padding-bottom: 35px;
	}

	.submit-block .inner {
		padding: 0;
	}

	/*-- /Object Secondary --*/

	/*-- Developer --*/

	.thumb-5 {
	    width: 100%;
	}

	.thumbnails-6 .thumb-6 {
	    width: 50%;
	}

	/*-- /Developer --*/

	/*-- Share New --*/

	.sharesthumb_2 {
	    margin: 0 0 20px 0;
	}

	.sharethumb_2 {
		margin: 10px 0;
	    width: 100%;
	    min-height: auto;
	    margin-left: 0;
	    margin-right: 0;
	}
	
	/*-- /Share New --*/

	/*-- Share New 2 --*/

	.sort_wrapp .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.sort_wrapp .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.sharesthumb_2_wrapp h2 {
		font-size: 27px;
    	line-height: 33px;
	}

	/*-- /Share New 2 --*/

	/*-- Filter --*/

	.dropdown-custom_3 .dropdown-toggle {
		padding-top: 5px;
	    font-size: 18px;
	    line-height: 20px;
	}

	.filter_ch span {
	    font-size: 18px;
	    line-height: 40px;
	}

	.range_col input {
	    font-size: 18px;
	    line-height: 39px;
	    padding-top: 5px;
	}

	.range_col p {
	    font-size: 18px;
	    line-height: 20px;
	}

	/*-- /Filter --*/

	/*-- Popup Shares --*/

	.shares_popup .h_wrapp .h3 {
	    font-size: 48px;
	    line-height: 55px;
	}

	.popup_footer .left {
	    width: 100%;
	    padding: 10px 0;
	    text-align: center;
	}

	.popup_footer .right {
	    width: 100%;
	    padding: 10px 0;
	    text-align: center;
	}

	.scroll-box {
	    margin: 29px 0 21px 0;
	}

	/*-- /Popup Shares --*/


}

@media only screen and (max-width: 640px) {

	/*-- Share --*/

	.thumb_1 {
		display: block;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	}

	/*-- /Share --*/

	/*-- Mortgage --*/

	.mortgages-header .cell {
		width: 50%;
	}

	.mortgages-header .cell-4 {
	    display: none;
	}

	.bank-header .cell {
		width: 50%;
	}

	.bank-header .cell-4 {
	    display: none;
	}

	.thumbnails_2 .thumb_2 {
	    width: 50%;
	}

	.bank-inner-table .cell {
	    width: 50%;
	}

	.bank-inner-table .cell-4 {
	    display: none;
	}

	.cons_btn {
		width: 100%;
		font-size: 14px;
		padding: 14px 10px;
	}

	/*-- /Mortgage --*/

	/*-- Как доехать --*/

	.choisen-radio {
	    width: 100%;
	}

	.choisen-radio .radio-box {
	    width: 50%;
	}

	.search-route .search-col-2 {
	    padding: 5px 0;
	    width: 100%;
	}

	.search-route .search-col-3 {
		width: 100%;
	    padding-left: 0;
	}

	.search-route .search-btn {
	    width: 100%;
	}

	.route-map {
	    height: 467px;
	}

	/*-- /Как доехать --*/

	/*-- Object Secondary --*/

	.thumbnails_4 .thumb_3 {
	    width: 100%;
	}

	/*-- /Object Secondary --*/

	/*-- Developer --*/

	.articles_2_wrapp {
	    padding-top: 43px;
	}

	.article_2 {
	    margin: 26px auto 35px auto;
	}

	.thumbnails-6 .thumb-6 img {
		max-width: 150px;
	}

	/*-- /Developer --*/

	/*-- Filter 2 --*/

	.filter_wrapp_2 {
	    padding: 10px 0 0 0;
	}

	.filter_wrapp_2 .h3 {
	    margin-bottom: 25px;
	    font-size: 25px;
	    line-height: 27px;
	}

	.filter_wrapp_2 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 7px 10px 7px;
	}

	.filter_wrapp_2 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 7px 10px 7px;
	}

	.filter_submit {
	    padding-top: 33px;
	}

	/*-- /Filter 2 --*/

	/*-- Popup Shares --*/

	.shares_popup {
	    padding: 24px 3% 32px 3%;
	}

	.shares_popup .h_wrapp .h3 {
	    font-size: 37px;
	    line-height: 44px;
	}

	/*-- /Popup Shares --*/

}

@media only screen and (max-width: 480px) {

	/*-- Share --*/

	.thumb_1 {
	    width: 96%;
	}

	/*-- /Share --*/

	/*-- Mortgage --*/

	.mortgages-header {
	    padding: 30px 30px 30px 10px;
	}

	.mortgage-block .sliding-block {
	    padding: 20px 30px 39px 10px;
	}

	.bank-header {
	    padding: 0 30px 0 10px;
	}

	.sliding-bl_inner {
	    padding-right: 10px;
	}

	.thumbnails_2 .thumb_2 {
	    width: 100%;
	}

	.cons_btn {
		font-size: 12px;
		padding: 14px 5px;
	}

	/*-- /Mortgage --*/

	/*-- Documents --*/

	.thumbnails_3 {
	    margin: 29px 0;
	}

	.thumbnails_3 .thumb_3 {
		width: 100%;
		margin: 10px 0;
	    padding: 0;
	}

	/*-- /Documents --*/

	/*-- Open News --*/

	.pagination_2 {
	    margin: 0 0 17px 0;
	}

	.pagination_2 li a {
	    font-size: 13px;
	    line-height: 24px;
	}

	.pagination_2 .prev:before {
	    top: 3px;
	}

	.pagination_2 .next:after {
	    top: 3px;
	}

	.pagination_2 li:after {
	    top: 7px;
	}

	/*-- /Open News --*/

	/*-- Testimonials --*/

	.testimonials_wrapp {
	    padding: 34px 0 0 0;
	}

	.testimonial-box {
	    padding: 15px 20px;
	}

	.testimonial-ansver-box {
		margin: -4px 0 0 0;
	    padding: 15px 20px;
	}

	/*-- /Testimonials --*/

	/*-- Developer --*/

	.thumb-5 {
		padding-left: 0;
		padding-right: 0;
	}

	.thumb-5 .inner {
	    padding: 27px 3%;
	}

	.article_2-col-1 {
	    width: 52px;
	}

	.h-green {
	    font-size: 28px;
	    line-height: 31px;
	}

	.thumbnails-6 .thumb-6 {
	    width: 100%;
	    padding-left: 0;
		padding-right: 0;
	}

	/*-- /Developer --*/

	/*-- Share New --*/

	.sharethumb_2 {
	    padding: 28px 0 120px 0;
	}

	.sharethumb_2 .title_wrapp h3 {
	    margin-bottom: 5px;
	    font-size: 26px;
	}

	.sharethumb_2 .h_wrapp {
	    padding: 17px 0 3px 0;
	}

	.sharethumb_2 .h_wrapp .h3 {
	    font-size: 35px;
	    line-height: 45px;
	}

	.share_footer .share_footer_col-1 {
	    width: 100%;
	    padding: 10px 0;
	}

	.share_footer .share_footer_col-2 {
	    width: 100%;
	    padding: 10px 0 0 0;
	}
	
	/*-- /Share New --*/

	/*-- Share New 2 --*/

	.sort_wrapp .right {
		text-align: left;
	}

	/*-- /Share New 2 --*/

	/*-- Filter --*/

	.filter_wrapp .inner_wrapp {
	    margin: 0;
	}

	.filter_input {
	    display: block;
	    margin: 10px 0;
	}

	.filter_wrapp .filter_col {
	    display: block;
	    margin: 10px 0;
	}

	.filter_input .filtercol-1 {
	    display: block;
	}

	.filter_input .filtercol-2 {
	    display: block;
	    padding-top: 5px;
	}

	.filtercol-2 .filter_ch {
	    margin-top: 0;
	}

	.filter_col .btn_green {
		margin: 20px 0;
	}

	/*-- /Filter --*/

	/*-- Popup Shares --*/

	.shares_popup .title_wrapp {
	    padding: 0 7px;
	}

	.shares_popup .title_wrapp .h3 {
	    font-size: 24px;
	}

	.shares_popup .h_wrapp .h3 {
	    font-size: 29px;
	    line-height: 39px;
	}

	.share-range_wrapp {
	    padding: 0 7px;
	}

	.scroll-box {
	    padding: 0 0 0 7px;
	}

	.popup_footer {
	    padding: 0;
	}

	/*-- /Popup Shares --*/

}

@media only screen and (max-width: 400px) {

	.sharethumb_2 .h_wrapp .h3 {
	    font-size: 29px;
	    line-height: 35px;
	}

	/*-- Filter --*/

	.range_inputs_1 {
		display: block;
		margin: 0 -2px;
	}

	.range_inputs_1 .range_col:nth-child(1) {
		display: inline-table;
		vertical-align: top;
		width: 100%;
		max-width: 160px;
	    margin: 5px 0 10px 0;
	}

	.range_inputs_1 .range_col:nth-child(2) {
		display: inline-table;
		vertical-align: top;
		width: 100%;
		max-width: 160px;
	    margin: 10px 0 0 0;
	}

	.filters_box .range_inputs .range_col:nth-child(1) {
		display: inline-table;
		width: 47%;
		max-width: 160px;
	    margin: 5px 1% 0 5px;
	}

	.filters_box .range_inputs .range_col:nth-child(2) {
		display: inline-table;
		width: 47%;
		/*max-width: 160px;*/
	    margin: 5px 1% 5px 5px;
	}

	.filters_box .range_col input {
	    width: 100%;
	}

	/*-- /Filter --*/

	/*-- Filter 2 --*/

	.filter_wrapp_2 .right {
	    padding-top: 0;
	}

	.filter_checkboxes_3 .filter_ch {
	    width: 49%;
	}

	/*-- /Filter 2 --*/

}