.offset-ziro {
	font-size: 0;
	line-height: 0;
}

.slide-descript {
	width: 116%;
	position: absolute;
	top: -33px;
	left: 288px;
	background: rgba(0, 0, 0, .75);
	padding: 27px 11% 1px 11%;
}

.slide-descript h3 {
	color: #ffffff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.slide-descript p {
	color: #f29100;
    font-family: "Fira Sans Compressed Light", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.slider-descript {
	max-width: 740px;
	margin: 43px auto 10px auto;
}

.slider-descript  p {
	font-size: 16px;
	line-height: 26px;
}

.thumbnails_1 {
	width: 103%;
	margin-top: 31px;
	margin-bottom: 45px;
}

.thumb_1 {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 20px 0;
	padding: 0 1.5%;
}

.thumb_1 .inner {
	display: block;
/*	position: relative;*/
}

.thumb_1 .img-box {
	position: relative;
	margin: 0 0 8px 0;
}

.thumb_1 .img-wrapp {
	height: 354px;
	background: #ffffff;
	position: relative;
	overflow: hidden;
}

.thumb_1 .img-wrapp img {
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_1 .orange-shape {
	width: 104%;
	height: 104%;
	z-index: 2;
	position: absolute;
	top: -2%;
	left: -2%;
	opacity: 0;
	border-left: 15px solid #f29100;
	border-bottom: 15px solid #f29100;

	-webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_1 .orange-shape:before {
	display: block;
	content: "";
	width: 74%;
	height: 15px;
	background: #f29100;
	position: absolute;
	top: 0;
	left: 0;
}

.thumb_1 .orange-shape:after {
	display: block;
	content: "";
	width: 15px;
	height: 74%;
	background: #f29100;
	position: absolute;
	bottom: 0;
	right: 0;
}

.thumb_1 .inner:hover .orange-shape {
	opacity: 1;
}

.thumb_1 p {
	color: #000000;
    font-family: "Fira Sans Compressed Light", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.thumb_1 p.p-1 {
	margin-bottom: 3px;
	color: #000000;
    font-family: "Fira Sans Compressed", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_1 .inner:hover p.p-1 {
	color: #f29100;
}
